<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>测试</title>
        <meta name="description" content="测试" />
        <meta name="keywords" content="测试" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/kube_1.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/reset_1.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/style_1.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{base_url('public/home/css/pirobox.css')}}" />
        <script type='text/javascript' src='{{base_url('public/home/js/jquery.min.js')}}'></script>
        <style type="text/css" id="custom-background-css">body.custom-background { background-image:url('{{base_url('public/home/images/ed5e6a1djw1f6k7m8uphij20r808c3zk.jpg')}}'); background-repeat: no-repeat; background-position: top center; background-attachment: scroll; }
        </style>
        {% block style %}{% endblock %}
    </head>

    <body class="custom-background">
        <div id="head" class="row">
            <div class="container">
                <div id="blogname" class="third">
                    <a href="#" title="#">
                        <img src="{{base_url('public/home/picture/logo.png')}}" alt="#" /></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="mainmenus container">
            <div class="mainmenu">
                <div class="topnav">
                    <!-- menus START -->
                    <ul id="menus">
                        <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-8">
                            <a href="http://gaoqing.la/">首页</a></li>
                        <li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-12">
                            <a title="1080P超清" href="http://gaoqing.la/bluray">Bluray原盘</a></li>
                        <li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-13">
                            <a title="1080P超清" href="http://gaoqing.la/1080p">1080P超清</a></li>
                        <li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-15">
                            <a title="720P高清" href="http://gaoqing.la/720p">720P高清</a></li>
                        <li id="menu-item-75" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75">
                            <a title="3D高清" href="http://gaoqing.la/3d">3D高清</a></li>
                        <li id="menu-item-48" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-48">
                            <a title="WEBDL标清" href="http://gaoqing.la/webdl">WEBDL标清</a></li>
                        <li id="menu-item-3201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3201">
                            <a title="高清连续剧纪录片演唱会预告片" href="http://gaoqing.la/others">Others其它</a></li>
                        <li id="menu-item-17977" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17977">
                            <a target="_blank" href="http://gaoqing.fm/?from=gaoqinglanav">高清电台</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="subsidiary box">
                    <div class="bulletin fourfifth">
                        <span class="sixth">当前位置：</span>
                        <a href="http://gaoqing.la" class="gray">首页</a>&gt;
                        <a href="http://gaoqing.la/1080p" title="查看1080P超清中的全部文章">1080P超清</a>&gt; 2016年 爱情与友谊 [简介貌似跟剧情没关系]
                    </div>
                </div>
            </div>
            
            {% block container %}{% endblock %}
        </div>
        {% block script %}{% endblock %}

        <div class="clear"></div>
        <div id="footer">
            <div class="footnav container">
                <div class="menu">
                    <ul>
                        <li class="page_item page-item-169">
                            <a href="http://gaoqing.la/2015movies">2015年国外大片提前知</a></li>
                        <li class="page_item page-item-6355">
                            <a href="http://gaoqing.la/questions">常见问题</a></li>
                        <li class="page_item page-item-151">
                            <a href="http://gaoqing.la/basic-knowledge">高清基础必备</a></li>
                        <li class="page_item page-item-298">
                            <a href="http://gaoqing.la/softs">高清玩家必备软件</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2013-2016
                    <strong>中国高清网</strong>|
                    <a href="http://www.miitbeian.gov.cn/" rel="external">黔ICP备15001825号-4</a>.
                    <a href="http://gaoqing.la/" target="_blank" rel="external">Theme By GaoQing.La</a>.</p>
                <p class="author">
                    <font color=orange>声明：本站为资讯类网站，我们不提供任何影视的上传、下载、存储、播放，版权归属原电影制作公司，其他问题请邮件我们gaoqingla@live.com</font></p>
            </div>
        </div>
        <!--gototop-->
        <div id="tbox">
            <a id="home" href="http://gaoqing.la"></a>
            <a id="pinglun" href="#comments_box"></a>
            <a id="gotop" href="javascript:void(0)"></a>
        </div>
    </body>
</html>
