{% extends "admin/Common/common.html.twig" %}
{% block style %}
<link href="{{base_url('public/admin/css/jquery-ui.min.css')}}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{base_url('public/admin/js/jquery-ui.min.js')}}"></script>

{% endblock %}
{% block breadcrumbs %}管理中心<b>&gt;</b><strong>新建站点</strong>{% endblock %}
{% block container %}
    <h3>新建站点</h3>
    <form method="post" id="createSite">
     <table width="100%" cellspacing="0" cellpadding="8" border="0" class="tableBasic">
      <tbody>
      <tr>
       <td align="right">站点别名</td>
       <td>
        <input type="text" class="inpMain" size="40" name="site_alias">
        <span class="cue ml">注：每个站点别名为5-16位的英文字母，且不能重复</span>
       </td>
      </tr>
      <tr>
      <tr>
       <td align="right">网站域名</td>
       <td>
        <input type="text" class="inpMain" size="40" value="http://" name="site_domain">
        <span class="cue ml">请输入http或https的域名</span>
       </td>
      </tr>
      <tr>
       <td align="right">站点管理员</td>
       <td>
          <select  name="users_id[]" multiple="multiple" id="users_id" style="width: 286px;border:">
{#             <option value="">请您选择链接项目</option>
            <option title="公司简介" value="page,1">admin</option>
            <option title="企业荣誉" value="page,2">kerry</option>
            <option title="发展历程" value="page,3">1293</option> #}
                {% for user in users %}
                    <option  value="{{user.id}}">{{user.username}}</option>
                {% endfor %}
           </select>
       </td>
      </tr>
      <tr>
       <td align="right">备注</td>
       <td>
        <textarea class="textArea" rows="4" cols="60" name="remark"></textarea>
       </td>
      </tr>

      <tr>
       <td></td>
       <td>
        <input type="submit" value="提交" class="btn" name="submit">
       </td>
      </tr>
     </tbody></table>
    </form>
{% endblock %}
{% block script %}
	<script>
		$(function(){
			$("#site_username").autocomplete({
	        	source: function( request, response ) {
	                $.ajax({
	                    url: "{{base_url('admin/Site/getUserJson')}}",
	                    dataType: "json",
	                    data:{
	                        username: request.term
	                    },
	                    success: function( data ) {
			               response($.map(data.data, function(item) {
			                    return {
			                        label: item.username,
			                        value: item.username,
			                        uid:item.id
			                    }
			                }));
	                    }
	                });
	            },
	            select: function( event, ui ) {
	            	var uid = ui.item.uid;
	            	$('#site_uid').val(uid);
	            },
			    minLength: 0
			});



			jQuery.validator.addMethod("isMobile", function(value, element) {
                var mobile = /[^\d]/g;
                return this.optional(element) || !mobile.test(value);
            }, "请填写正确的联系方式");

			jQuery.validator.addMethod("isAlias", function(value, element) {
                var alias = /^[a-z\d]{5,15}$/i;
                return this.optional(element) || alias.test(value);
            }, "请填写5-16位的小写字母加数字");



            $("#createSite").validate({
            	errorClass: "label-invalid",
                rules: {
                  site_alias:{
  	                required: true,
                    isAlias: true,
                    remote:{
                    	url: "{{base_url('admin/Site/ajaxCheckSiteAlias')}}",      //url地址
          						type: "post",           //发送方式
          						dataType: "json"
                    }
                  },
                  site_domain:{
                  	required:true,
                  	url:true,
                    remote:{
                    	url: "{{base_url('admin/Site/ajaxCheckSiteDomain')}}",      
          						type: "post",           //发送方式
          						dataType: "json"
                    }
                  },
                  site_username:{
                  	required:true,
                    remote:{
                    	url: "{{base_url('admin/Site/ajaxCheckUser')}}",      
          						type: "post",           //发送方式
          						dataType: "json"
                    }
                  },
                  // remark:"required"
                },
                messages: {
                  site_alias: {
  	                required: "请输入站点别名",
                    isAlias: "请填写5-16位的小写字母加数字",
                    remote:"别名已存在"
                  },
                  site_domain:{
                  	required:"请输出域名",
                  	url:"请输入正确的url",
                  	remote:"域名已存在",

                  },
	          	  site_username:{
	              	required:"请输入用户名",
	              	remote:"用户不存在"
	              }

                },
                submitHandler:function(form){
                    $.ajax({
                     type: "POST",
                     url: "{{base_url('admin/Site/createSite')}}",
                     data: $(form).serialize(),
                     dataType: "json",
                     success: function(data){
                        if(data.status=='success'){
                            layer.msg(data.message,{icon: 1});
                            // window.location.href = '{{base_url("admin/index")}}';
                        }else{
                            layer.msg(data.message,{icon: 2});
                        }
                     }})
                }
            })
            // layer.msg(11,{icon: 1});
            // layer.msg(22,{icon: 2});
            $("#users_id").select2();
		})

	</script>

{% endblock %}