{% extends "admin/Common/iframe_common.html.twig" %}
{% block container %}
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/summernote/summernote.css')}}">
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/summernote/summernote-bs3.css')}}">
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/js/plugins/layer/laydate/skins/molv/laydate.css')}}">
<link rel="stylesheet" type="text/css" href="{{base_url('public/admin/css/plugins/webuploader/webuploader.css')}}">

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content container-fluid">
                    <div class="row">
                    <form method="post">
                        <div class="tab-content">  
                            <div class="panel-body">
                                    <div class="form-group must">
                                        <label for="none">模板名称</label>
                                        <input class="form-control form-data" name="tpl_name"  value="{{ret.tpl_name}}" />
                                    </div>
                                    <div class="form-group must">
                                        <label for="none">邮件标题</label>
                                        <input class="form-control form-data" name="title"  value="{{ret.title}}" />
                                    </div>
                                    <div class="form-group must">
                                        <label for="none">邮件内容</label>
                                        <div class="form-control editor form-data" name="content" >{% autoescape true %}{{ret.content|raw}}{% endautoescape %}</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group mt-20">
                            <button class="btn btn-success" type="button" data-id="{{id}}" data-type="{{btn_type}}" id="add-tpl">
                                添加
                            </button>
                        </div>
                    </form>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{base_url('public/admin/js/plugins/summernote/summernote.min.js')}}"></script>    
<script src="{{base_url('public/admin/js/plugins/summernote/lang/summernote-zh-CN.js')}}"></script>    
<script src="{{base_url('public/admin/js/plugins/layer/laydate/laydate.js')}}"></script>    
<script src="{{base_url('public/admin/js/plugins/webuploader/webuploader.min.js')}}"></script>  
<script>
jQuery(document).ready(function($) {
    $('.editor').summernote({
        minHeight: 300,
        callbacks:{
            onImageUpload: function(files, editor, welEditable) {
            },
            onPaste:function(e){
                console.log(e.originalEvent.clipboardData.getData("url"))
            }
            
        }
    });

    $(document).on('click', '#add-tpl', function(event) {
        var data = {};
        if($(this).data('id')!=""){
            data.id = $(this).data('id')
        }
        data.type = $(this).data('type');
        data.tpl_name = $("input[name=tpl_name]").val();
        data.title = $("input[name=title]").val();
        data.content = $('.editor').summernote('code').replace("script","p")
        $.post('{{base_url("admin/Site/editEmail")}}',data, function(data, textStatus, xhr) {
        },"json")
        .then(function(e){
            if (e.status!=1) {
                common.ajaxError(e);
                return false;
            }    
            parent.layer.msg(e.message,{icon:1,time:1500},function(){
                parent.window.location.reload();
                
            })            
        })
    });    

    $(document).on('click','.edit-btn',function(){
        var id = $(this).data('id')
        var openLayer = layer.open({
          type: 2,
          closeBtn:1,
          title:'{{lang("edit")}}',
          shadeClose: false, //开启遮罩关闭
          area: ['600px', 'auto'],
          maxmin:true,
          content:'{{base_url("siteAdmin/ArticleManage/renderEditArticle")}}?aid='+id,
        });
        layer.full(openLayer)
    })

});
</script>
{% endblock %}