{% extends "Common/common.twig" %}
{% block style %}
<script type='text/javascript' src='{{base_url('public/home/js/xfplay.js')}}'></script>

{% endblock %}
{% block container %}

      <div class="mainleft" id="content">
        <div class="article_container row  box">
          <h1>{{movie.name}}</h1>
          <div class="article_info">
            <span class="info_author info_ico">admin</span>
{#             <span class="info_category info_ico">
              <a href="http://gaoqing.la/1080p" title="查看1080P超清中的全部文章" rel="category tag">1080P超清</a>,
              <a href="http://gaoqing.la/720p" title="查看720P高清中的全部文章" rel="category tag">720P高清</a>,
              <a href="http://gaoqing.la/bluray" title="查看Bluray蓝光原盘中的全部文章" rel="category tag">Bluray蓝光原盘</a></span> #}
            <span class="info_date info_ico">{{movie.update_time}}</span>
            {# <span class="info_comment info_ico">
              <a href="http://gaoqing.la/love-friendship.html#respond" class="ds-thread-count" data-thread-key="17760" title="《2016年 爱情与友谊 [简介貌似跟剧情没关系]》上的评论">0</a></span> #}
          </div>
          <div class="clear"></div>
          <div class="context">
            <div id="post_content">
              {% for item in movie_images %}
                <p>
                  <img title="{{movie.name}}" alt="{{movie.name}}" src="{{item.url}}"  />
                </p>
              {% endfor %}
              <p>
                {% autoescape true %}  
                  {{movie.description|raw}}
                {% endautoescape %}
              </p>
              <p>
                <script type="text/javascript">
                    //  加载 url
                    document.write($Showhtml("{{movie.paly_url}}"));
                </script>
                <!--  IE 浏览器 播放完成后调用 -->
                <script for="Xfplay" language="JavaScript" event="Xf_Complete()"> 
                {
                      Xf_Complete();
                }   
                </script>
              </p>
            </div>
          </div>
        </div>

        <div class="article_container row  box article_related">
          <div class="related">
            <ul>
              {% for rand in rand_movie %}
                  <li class="related_box">
                    <a href="{{base_url('detail/'~rand.id)}}" title="{{rand.name}}" target="_blank">
                      <div class="r_pic">
                        <img src="{{rand.cover_img}}" alt="{{rand.name}}" /></div>
                      <div class="r_title">{{rand.name}}</div></a>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="clear"></div>
        <div id="comments_box">
          <a name="comments"></a>
          <div class="ds-thread" data-thread-key="17760" data-author-key="1" data-title="2016年 爱情与友谊 [简介貌似跟剧情没关系]" data-url="http://gaoqing.la/love-friendship.html"></div>
          <div id="ds-ssr">
            <ol id="commentlist"></ol>
          </div>
        </div>
      </div>
{% endblock %}


