{% extends "Common/common.twig" %}
{% block container %}
    <div class="mainleft">
        <ul class="masonry clearfix" id="post_container">
            {% for item in retData %}
                <li class="post box row fixed-hight">
                    <div class="post_hover">
                        <div class="thumbnail">
                            <a title="{{item.name}}" rel="bookmark" class="zoom" href="http://gaoqing.la/foolish-plans.html">
                                <img alt="{{item.name}}" src="{{base_url('public/home/picture/ed5e6a1djw1f7ha08be19j20go0nt40s.jpg')}}"></a>
                        </div>
                        <div class="article">
                            <h2>
                                <a title="{{item.name}}" rel="bookmark" href="http://gaoqing.la/foolish-plans.html">123</a></h2>
                            <div class="arrow-catpanel-top">&nbsp;</div></div>
                        <div class="info">
                            <span class="info_date info_ico">{{item.update_time}}</span>
                            
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
        <div class="navigation container">
            <div class="pagination">
{#                 <a href="http://gaoqing.la/1080p" class="current">1</a>
                <a href="http://gaoqing.la/1080p/page/2">2</a>
                <a href="http://gaoqing.la/1080p/page/3">3</a>
                <a href="http://gaoqing.la/1080p/page/4">4</a>
                <a href="http://gaoqing.la/1080p/page/5">5</a>
                <a href="http://gaoqing.la/1080p/page/6">6</a>
                <a href="http://gaoqing.la/1080p/page/2" class="next">下一页</a>
                <a href="http://gaoqing.la/1080p/page/24" class="extend" title="跳转到最后一页">尾页</a> #}
                {% autoescape true %}  
                 {{pager.show(1)|raw }}
                {% endautoescape %}
            </div>
        </div>
{#         <div class="fixed-table-pagination col-md-12">
            <div class="pull-left pagination-detail">
                <span class="pagination-info">共<strong>{{pager.total}}</strong>条记录&nbsp;<strong>{{pager.nowindex}}/{{pager.totalpage}}</strong>页</span>
            </div>
            {% autoescape true %}  
             {{pager.show(1)|raw }}
            {% endautoescape %}
        </div> #}
    </div>
{% endblock %}